
                            <div class="portlet light bordered" ng-controller="patientDataView">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption">
                                        <i class="icon-bubbles font-dark hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">Patients Records</span>
                                    </div>
                                   
                                </div>
                                <div class="portlet-body" >
                                     
                                        <div class="slimScrollDiv" >
                                            <!-- BEGIN: Comments -->
                                            <div class="mt-comments">
                                                <div class="mt-comment" ng-repeat="patient in patients track by $index">
                                                   
                                                    <div class="mt-comment-body">
                                                        <div class="mt-comment-info">
                                                            <span class="mt-comment-author">{{patient.first_name}}  {{patient.last_name}} </span>
                                                            <span class="mt-comment-date">DOB: {{patient.dob}}</span>
                                                        </div>
                                                        <div class="mt-comment-text"> {{patient.gender}} </div>
                                                        <div class="mt-comment-text">{{patient.info}}</div>
                                                        <div class="mt-comment-details">
                                                            <span class="mt-comment-status mt-comment-status-pending">{{patient.phone}}</span>
                                                            
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                                
                                              
                                            </div>
                                            <!-- END: Comments -->
                                        </div>
                                       
                                   
                                </div>
                            </div>
                       