

<div class="row">

<div class="profile-sidebar">
                                <!-- PORTLET MAIN -->
                                <div class="portlet light profile-sidebar-portlet bordered">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="assets/img/patient_information_icon.jpg" class="img-responsive" alt=""> </div>
                                    <!-- END SIDEBAR USERPIC -->
                                    <!-- SIDEBAR USER TITLE -->
                                    
                                    <!-- END SIDEBAR BUTTONS -->
                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            <li>
                                                <a ui-sref="dashboard.entry">
                                                    <i class="fa fa-plus"></i> ADD </a>
                                            </li>
                                            <li>
                                                <a ui-sref="dashboard.view">
                                                    <i class="fa fa-user"></i> VIEW </a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                    <!-- END MENU -->
                                </div>
                                <!-- END PORTLET MAIN -->
                            
                            </div>
                            
                            
<div class="app-ticket app-ticket-list col-md-9">
                                <div ui-view></div>
                                </div>
                            </div>
